<div class="col-md-2 average-badge"
     data-project="2min"
     data-range="two_minutes">
     {% include 'partial/badge.html.twig' %}
</div>
<div class="col-md-2 average-badge"
     data-project="30min"
     data-range="half_hour">
     {% include 'partial/badge.html.twig' %}
</div>
<div class="col-md-2 average-badge"
     data-project="1h"
     data-range="one_hour">
     {% include 'partial/badge.html.twig' %}
</div>
<div class="col-md-2 average-badge"
     data-project="12h"
     data-range="half_day">
     {% include 'partial/badge.html.twig' %}
</div>
<div class="col-md-2 average-badge"
     data-project="1j"
     data-range="one_day">
     {% include 'partial/badge.html.twig' %}
</div>
<div class="col-md-2 average-badge"
     data-project="7j"
     data-range="one_week">
     {% include 'partial/badge.html.twig' %}
</div>
