<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>{{ title }}</title>
        <link rel="stylesheet" href="css/styles.css" type="text/css" />
        <link rel="shortcut icon" href="img/favicon.ico" type="image/vnd.microsoft.icon" />
    </head>
    <body>
        <header>
            <img id="logo" src="img/logo.png" />
            <div id="alarm"></div>
            <div id="average">Temps moyen<br/><span class="time"></span></div>
        </header>
        <section>
            <div id="container"></div>
        </section>

        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/lodash/lodash.min.js"></script>
        <script src="bower_components/moment/min/moment-with-locales.min.js"></script>
        <script src="bower_components/highstock-release/highstock.js"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>
