<div class="row">
    <div class="col-md-2">
        <div class="pie">
            <canvas class="two_minutes"></canvas>
            <div class="average"></div>
        </div>
        <h5>
            <span class="project">2min</span>
        </h5>
    </div>
    <div class="col-md-2">
        <div class="pie">
            <canvas class="half_hour"></canvas>
            <div class="average"></div>
        </div>
        <h5>
            <span class="project">30min</span>
        </h5>
    </div>
    <div class="col-md-2">
        <div class="pie">
            <canvas class="one_hour"></canvas>
            <div class="average"></div>
        </div>
        <h5>
            <span class="project">1h</span>
        </h5>
    </div>
    <div class="col-md-2">
        <div class="pie">
            <canvas class="half_day"></canvas>
            <div class="average"></div>
        </div>
        <h5>
            <span class="project">12h</span>
        </h5>
    </div>
    <div class="col-md-2">
        <div class="pie">
            <canvas class="one_day"></canvas>
            <div class="average"></div>
        </div>
        <h5>
            <span class="project">1j</span>
        </h5>
    </div>
    <div class="col-md-2">
        <div class="pie">
            <canvas class="one_week"></canvas>
            <div class="average"></div>
        </div>
        <h5>
            <span class="project">7j</span>
        </h5>
    </div>
</div>
