<div class="row">
    <div class="pie col-md-2">
        <canvas class="two_minutes"></canvas>
        <p class="caption">2min</p>
    </div>
    <div class="pie col-md-2">
        <canvas class="half_hour"></canvas>
        <p class="caption">30 m</p>
    </div>
    <div class="pie col-md-2">
        <canvas class="one_hour"></canvas>
        <p class="caption">1 h</p>
    </div>
    <div class="pie col-md-2">
        <canvas class="half_day"></canvas>
        <p class="caption">12 h</p>
    </div>
    <div class="pie col-md-2">
        <canvas class="one_day"></canvas>
        <p class="caption">1 j</p>
    </div>
    <div class="pie col-md-2">
        <canvas class="one_week"></canvas>
        <p class="caption">7 j</p>
    </div>
</div>
