body {
  padding-top: 70px;
  padding-bottom: 30px;
  background: #2a2a2b;
  color: #666;
}

.navbar-brand {
    background: url('../img/logo.png') no-repeat;
    background-size: contain;
    height: 40px;
    width: 220px;
    margin: 5px;
}

.navbar-brand span{
    display: none;
}

.graphs {
    margin-bottom: 20px;
}


.alarm {
    padding-top: 120px;
}

.alarm .icon {
    margin: 20px auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.alarm .good {
    background: #2b908f url('../img/good.png') no-repeat 50% 50%;
}

.alarm .status_error {
    background: #f7c222 url('../img/warning.png') no-repeat 50% 50%;
}

.alarm .average_error {
    background: #f45b5b url('../img/alarm.png') no-repeat 50% 50%;
}

.alarm .legend{
    color: #fff;
    text-align: center;
}

.alarm .legend .data{
    font-size: 30px;
}

.alarm .legend .data{
    font-size: 40px;
    font-weight: bold;
}
