body {
    background: #2a2a2b;
    padding: 50px;
    font-family: sans-serif;
    color: #fff;
}

header {
    overflow: hidden;
    height: 120px;
}

    #logo {
        float: left;
    }

    #alarm {
        float: right;
        margin: 20px;
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

    #alarm.good {
        background: #2b908f url('../img/good.png') no-repeat 50% 50%;
    }

    #alarm.bad {
        background: #f45b5b url('../img/bad.png') no-repeat 50% 50%;
    }

    #average {
        float: right;
        margin: 40px 10px;
        width: 180px;
        height: 100px;
        text-align: center;
    }

    #average .time{
        font-size: 50px;
        font-weight: bold;
    }

    #averagePeriod {
        float: right;
        margin: 40px 10px;
        width: 180px;
        height: 100px;
        text-align: center;
    }

    #averagePeriod .time{
        font-size: 50px;
        font-weight: bold;
    }

section {
    margin-top: 30px;
}
