<ifmodule mod_headers.c>
    <filesmatch "\\.(html)$">
        Header set Cache-Control "max-age=300, private"
    </filesmatch>
</ifmodule>

<IfModule mod_rewrite.c>
    Options -MultiViews
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [QSA,L]
</IfModule>
